.App,
#root,
body,
html,
.outer {
  height: 100%;
}
.intro {
  display: flex;
  height: 50%;
  align-items: center;
}

.text {
  display: flex;
  height: 30%;
  align-items: center;
  margin: auto 0;
}
.footer {
  display: flex;
  height: 20%;
  align-items: center;
}
hr {
  margin: 0;
}
